---
import "../styles/global/base.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="preload"
            as="style"
            href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
        />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="A beautiful signature pad component for Vue 3."
        />
        <title>Signature Pad</title>
    </head>
    <body>
        <div class="max-w-3xl mx-auto space-y-4">
            <slot />
        </div>
    </body>
</html>
